/* font-family: 'Open Sans', sans-serif;
*/

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 20px;
}

header{
    background-color: cornflowerblue;
    padding: 1em 0;
}

header h1{
    color: cornsilk;
    font-size: 2.5em;
    font-style: italic;
    font-weight: 100;
    display: inline-block;
    position: relative;
    bottom: 30px;
}

nav{
    background-color: #6da9ed;
    margin-bottom: 2em;
}

nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li{
    display:inline-block;
    width: 16.3%;
}

nav ul li a{
    color:white;
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 0.2em 0.4em;
}

nav ul li a:hover{
    background-color: rgb(75, 142, 173);

}


nav ul li a.activo{
    background-color: rgb(75, 142, 173);
}

.holder{
    width: 960px;
    margin: 0 auto;
    
}

/*inicio footer*/
footer{
    /*background-color: darkgrey;*/
    clear: both;
    color: darkslategrey;
    padding: 1em 0;
    margin-top: 2em;
    text-align: center;
    background-image: url(../img/background-footer.png);
    background-size: cover;

}

.container__footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
}


.box__copyright{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
}

/*Fin footer*/



h2{
    color: dodgerblue;
    font-weight: 400;
    margin: 0 0 1em;
}

.left{
    float: left;
}

.right{
    float: right;
}

/*inicio home*/

.homeimg{
    margin-bottom: 1.5em;
}


.bienvenidos, .testimonios{
    box-sizing: border-box;
}

.bienvenidos{
    width: 75%;
    padding-right: 2em;
}

.testimonios{
    width: 25%;
}


.testimonio{
    background-color: rgb(180, 178, 174);
    padding: 1em;
}

.testimonio .cita{
    font-weight: bold;
    font-style: italic;
    font-size: 1.3em;

    display: block;
}

.testimonio .autor{
    font-size: 0.7em;
    text-align: left;
    margin: 0;
    margin-top: 1em;

    display:block
}

/*Fin home*/


/*inicio nosotros*/

.historia p{
    font-size: 0.8em;

}

.personas{
    overflow: hidden;
}

.persona{
    width: 18%;
    border: 1px solid gray;
    border-radius: 0.25em;
    float: left;
    margin-left: 2.25%;
    box-sizing: border-box;
}

.persona{
    text-align: center;
}

.persona img{
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0,0,0,0,5);
    margin: 0.8em 0 1em;
    max-width: 70%;

}


.persona h5,
         h6{
    text-align: center;
    font-weight: normal;
    color: #2e64a1;  
    margin: 0;       

}

.persona h5{
    font-size: 0.9em;
}

.persona h6{
    font-size: 0.8em;
    font-style: italic;
}

.persona p{
    font-size: 0.7em;
    color: #444;
    margin: 0 1em 1em;

}

.persona:first-child{
    margin-left: 0;
}


/*fin nosotros*/

/*inicio servicios*/

.servicio{
    border: 1px solid gray;
    border-radius: 0.7em;
    margin: 1em 0;
    padding: 1em;
    overflow: hidden; 
}

.servicio .info{
    width: 75%;
}

.servicio .info h4{
    color: #2e64a1;
    font-size: 1.2em;
    font-style: italic;
    font-weight: 500;
    margin: 0 0 1em;
    border-bottom: 1px solid #2e64a1;
    padding-bottom: 0.5em;
}

.servicio .info p{
    font-size: 0.8em;
    line-height: 1.2em;

}

.servicio img{
    border-radius: 0.8em;
}

.servicio:nth-child(even) img{
    float: right;
    margin: 0 0 0 1em;
}

.servicio:nth-child(even) .info{
    float: left;
}

.servicio:nth-child(odd) img{
    float: left;
    margin: 0 1em 0 0;
}

.servicio:nth-child(odd) .info{
    float: right;
}

/*Fin servicios*/

/*Inicio galeria*/
* {
    box-sizing: border-box;
}

.gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
    width: 80%;
    margin: 0 auto;
    padding: 10px;
}
.gallery-item {
    flex-basis: 32.7%;
    margin-bottom: 6px;
    opacity: .85;
    cursor: pointer;
}
.gallery-item:hover {
    opacity: 1;
}
.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.gallery-content {
    font-size: .8em;
}

.lightbox {
    position: fixed;
    display: none;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;              
    overflow: auto;
    top: 0;
    left: 0;
}
.lightbox-content {
    position: relative;
    width: 70%;
    height: 70%;
    margin: 5% auto;
}
.lightbox-content img {
    border-radius: 7px;
    box-shadow: 0 0 3px 0 rgba(225, 225, 225, .25);
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.lightbox-prev,
.lightbox-next {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 7px;
    top: 45%;
    cursor: pointer;
}
.lightbox-prev {
    left: 0;
}
.lightbox-next {
    right: 0;
}
.lightbox-prev:hover,
.lightbox-next:hover {
    opacity: .8;
}

@media (max-width: 767px) {
    .gallery-container {
        width: 100%;
    }
    .gallery-item {
        flex-basis: 49.80%;
        margin-bottom: 3px;
    }
    .lightbox-content {
        width: 80%;
        height: 60%;
        margin: 15% auto;
    }
}
@media (max-width: 480px) {
    .gallery-item {
        flex-basis: 100%;
        margin-bottom: 1px;
    }
    .lightbox-content {
        width: 90%;
        margin: 20% auto;
    }
}
  
  /*Fin Galeria*/